<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<section class="carousel">
    <h4>My Work</h4>
    <!-- <div *ngFor="let image of carouselImages">
        <img class="carousel-image" src="{{image}}" alt="carosel images">
    </div> -->
    
    <div class="arrow-container">
        <button class="arrow-button">
            <img class="carousel-arrow" src="../../assets/icon-arrow-left.svg" alt="left arrow">
        </button>
        <button class="arrow-button">
            <img class="carousel-arrow" src="../../assets/icon-arrow-right.svg" alt="right arrow">
        </button>      
    </div>
    
</section>