<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<section>
    <div>
        <img class="imgAmy" src="../../assets/image-amy.webp" alt="">
    </div>
    <div>
        <h3>I’m Amy, and I’d love to work on your next project</h3>
        <p>I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!</p>
    </div>

    <button class="consultation-button">Free Consultation</button>
</section>
