*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

section {
    text-align: center;
    margin-top:100px;
    position: relative;

}


.imgContainer {
    text-align: left;
    display: flex;
}
@media screen and (min-width: 900px){
    .imgContainer {
        display: inline-block;
        position: relative;
        text-align: left;

    }
}

.imgAmy {
    width: 300px;
    height: 300px;
    left: 34px;
    border-radius: 50%;
    background: #61C4B7;
    display: block;
    position: relative;
    text-align: center;
}
@media screen and (min-width: 900px){
    .imgAmy{
        display:inline-block;
        position: relative;
        width: 445px;
        height: 445px;
        left: auto;
        right: 17rem;
        
    }
}

.blurbText{
    display: block;
    text-align: center;
    position: relative;
    align-items: center;
}

@media screen and (min-width: 900px){
    .blurbText{
        display:inline-block;
        position: relative;
        text-align: left;
        width: 540px;
        height: 240px;
        margin-left: 0rem;
        margin-bottom: 14rem;
        margin-top: 0;
 
    }
}

h3{
    margin-top: 40px;
    height: 66px;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #030303;
}


@media screen and (min-width: 900px){
    h3{
        display: inline-flex;
        height: 100px;
        text-align: left;
        font-size: 40px;
        line-height: 50px;
        color: #030303;
    }
}

p {

    height: 104px;
    left: 0%;
    right: 0%;
    top: calc(50% - 104px/2 + 11px);
    text-align: left;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7A746E;
}

@media screen and (min-width: 900px){
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        color: #7A746E;
    }
}


.consultation-button {
    margin-top: 18px;
    color: #FFF7F0;
    width: 176px;
    height: 44px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: #EB7565;
    border-radius: 28px;

}


.consultation-button:hover {
    background-color: #F6A560;
}