<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<app-header></app-header>
<app-site-header-section></app-site-header-section>
<app-nav-section></app-nav-section>
<app-profile-blurb></app-profile-blurb>
<app-my-work [images]="images"></app-my-work>
<app-appointment></app-appointment>
<app-header></app-header>