<nav class="main-nav">

    <div class="gridItem graphicDesign">
        <div class="gridImage">
            <img src="../../assets/pattern-graphic-design.svg" alt="">
        </div>
        <p>Graphic Design</p>
    </div>
    <div class="gridItem uiux">
        <div class="gridImage">
            <img src="../../assets/pattern-ui-ux.svg" alt="">
        </div>
        <p>UI/UX</p>
    </div>
    <div class="gridItem apps">
        <div class="gridImage">
            <img src="../../assets/pattern-apps.svg" alt="">
        </div>
        <p>Apps</p>
    </div>
    <div class="gridItem illustrations">
        <div class="gridImage">
            <img src="../../assets/pattern-illustrations.svg" alt="">
        </div>
        <p>Illustrations</p>
    </div>
    <div class="gridItem photography">
        <div class="gridImage">
            <img src="../../assets/pattern-photography.svg" alt="">
        </div>
        <p>Photography</p>
    </div>
    <div class="gridItem motionGraphics">
        <div class="gridImage">
            <img src="../../assets/pattern-motion-graphics.svg" alt="">
        </div>
        <p>Motion Graphics</p>
    </div>
</nav>