.main-nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 200px;
    grid-gap: 20px;
    gap: 20px;
    margin-top: 115px;
    margin-bottom: 100px;

    grid-template-areas:
    "graphicDesign graphicDesign"
    "graphicDesign graphicDesign"
    "uiux apps"
    "illustrations illustrations"
    "photography photography"
    "motionGraphics motionGraphics";
}

@media screen and (min-width: 1140px) {
    .main-nav { 
        grid-template-columns: repeat(6,1fr);
        margin-top: 15px;
        padding: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 2rem;
        grid-template-areas:
        "graphicDesign graphicDesign uiux apps photography photography"
        "graphicDesign graphicDesign illustrations illustrations motionGraphics motionGraphics";
    }
}

.gridImage {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 16px;
}

.gridItem{
    border-radius: 10px;
    position: relative;
}

.graphicDesign {
    grid-area: graphicDesign;
    background-color: #755CDE;
}

.uiux {
    grid-area: uiux;
    background-color: #F6A560;
}
.apps {
    grid-area: apps;
    background-color: #F39E9E;
}
.illustrations {
    grid-area: illustrations;
    background-color: #EB7565;
}
.photography {
    grid-area: photography;
    background-color: #61C4B7;
}
.motionGraphics {
    grid-area: motionGraphics;
    background-color: #552049;
}

p {
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}