* {
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
    text-align: center;
    line-height: 45px;
    font-style: normal;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7A746E;
    margin: 29px;
}
@media screen and (min-width: 900px){  
    p {
        width: 740px;
        font-weight: 500; 
        font-size: 18px;
        line-height: 28px;
        color: #7A746E;
        margin-left: 27%;
    }
}



div {
    margin-top: 32px;
    width: 343px;
    height: 210px;
    left: 16px;
    top: 96px;
    text-align: center;
}

@media screen and (min-width: 900px){  
    div {
        margin-top: 32px;
        display: flex;
        left: 344px;
        top: 164px;
        width: 752px;
        height: 150px;
        display: inline;
        text-align: center;


    }
}