* {
    box-sizing: border-box;
}

section {
    width: 358px;
    height: 352px;
    left: 15px;
    background: #030303;
    border-radius: 10px;
    padding: 49px;
    margin-top: 40px;
}

@media screen and (min-width: 900px) {
    section {
        display: flex;
        justify-content: space-around;
        gap: 3rem;
        align-items: center;
        border-radius: 10px;
        padding: 2rem;
        margin: 0 auto 2rem;
        text-align: center;
        width: 1110px;
    }
}

.blurb{
    text-align: center;
}

@media screen and (min-width: 1140px) {
    .blurb{
        display: block;
        padding: 2rem;
        text-align: center;
        margin-right: auto;
        width: 540px;
    }
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #FFF7F0;
    border-top: 50px ;
}
@media screen and (min-width: 1140px) {
    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;

        text-align: left;

        color: #FFF7F0;
    }
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFF7F0;
}

@media screen and (min-width: 1140px) {
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        color: #FFF7F0;
    }
}

.consultationButton {
    background: #EB7565;
    border-radius: 28px;
    width: 176px;
    height: 44px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #FFF7F0;
}

@media screen and (min-width: 1140px) {
    .consultationButton {
    margin-right: 4rem;
    }
}



.consultationButton:hover {
    background-color: #F6A560;
}

.button-container{
    text-align: center;
}
@media screen and (min-width: 1140px) {
}