<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap" rel="stylesheet">
</head>


<section>
    <div class="blurb">
        <h3>Book a call with me</h3>
        <p>I’d love to have a chat to see how I can help you. The best first step is for us to discuss your project during a free consultation. Then we can move forward from there.</p>
    </div>

    <div class="button-container">
        <button class="consultationButton">Free Consultation</button>
    </div>
    
</section>